.control-bar {
  margin: 0 1px;
  padding: 0.5rem;
  border-end-start-radius: 0.25rem;
  border-end-end-radius: 0.25rem;
  display: flex;
  justify-content: space-between;
}

.gridsize-dropup-icon {
  vertical-align: -9%;
  margin-right: 0.25em;
}
