#root {
  height: 100vh;
}

.live-container {
  background-color: #282c34;
}

.live {
  height: 40vmin;
  animation: live-spin infinite 20s linear;
}

@keyframes live-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
