[Unit]
Description=Mirador development frontend
#StartLimitIntervalSec=10
#StartLimitBurst=5

[Service]
WorkingDirectory=/opt/mirador/ui
ExecStart=. /opt/mirador/deploy/envs/_base/bin/activate && yarn start

[Install]
WantedBy=multi-user.target
