[Unit]
Description=Mirador development frontend
#StartLimitIntervalSec=10
#StartLimitBurst=5

[Service]
WorkingDirectory=/opt/mirador
ExecStart=/bin/sh -c '. deploy/envs/_base/bin/activate && cd ui && bun run start'

[Install]
WantedBy=multi-user.target
