label.disabled {
  cursor: not-allowed;
}

.color-overlay {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 4;
  transition: background-color 150ms, opacity 250ms;
}

.gridsize-dropup-icon {
  vertical-align: -9%;
  margin-right: 0.25em;
}

.abled.btn-light {
  color: #212529a6 !important;
}
