label.disabled {
  cursor: not-allowed;
}

.color-overlay {
  z-index: 4;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  transition: background-color 150ms, opacity 250ms;
}

.o-75 {
  opacity: 0.75;
}

.pe-all {
  pointer-events: all;
}

.pe-none {
  pointer-events: none;
}
