.timeline-date-hover {
  bottom: 75%;
}

.timeline-date-text {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  font-size: 80%;
  text-align: center;
  pointer-events: none;
}

.timeline-indicator {
  position: absolute;
  left: 0;
  right: 0;
  bottom: -0.5rem;
  margin: auto;
  pointer-events: none;
  z-index: 1;
}

.timeline-stream {
  position: absolute;
  min-width: 1px;
  top: 0;
  bottom: 0;
  pointer-events: none;
}

.timeline-stream.bg-primary {
  z-index: 1;
}

.timeline-stream-bar {
  top: 0;
  bottom: 0;
  margin-top: 1.25rem;
}

.timeline-stream-date {
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
}

.timeline-tick {
  width: 1px;
  bottom: 0;
  z-index: 1;
}

.timeline-tick.day {
  height: 1rem;
}

.timeline-tick.hour {
  height: 0.75rem;
}

.timeline-tick.minute {
  height: 0.5rem;
}

.timeline-zoom-button-group {
  position: absolute !important;
  right: 0;
  margin-right: 0.5rem;
  pointer-events: all;
}

.timeline-zoom-current-level {
  width: 4.5rem;
  padding: 0 0.25rem !important;
  border: 0 !important;
  text-align: center;
}
