.timeline-date-bar {
    top: 0;
    bottom: 0;
    margin-top: 1.25rem;
}

.timeline-date-hover {
    bottom: 75%;
}

.timeline-date-text {
    left: 0;
    right: 0;
    top: 0;
}

.timeline-indicator {
    left: 0;
    right: 0;
    bottom: -0.5rem;
}

.timeline-stream {
    top: 0;
    bottom: 0;
}

.timeline-tick {
    width: 1px;
    bottom: 0;
}

.timeline-tick.day {
    height: 1rem;
}

.timeline-tick.hour {
    height: 0.75rem;
}

.timeline-tick.minute {
    height: 0.5rem;
}

.timeline-zoom-button-group {
    right: 0;
}

.timeline-zoom-current-level {
    width: 4.5rem;
}