.stream-container {
    transition: width 150ms, height 150ms, left 150ms, top 150ms;
}

.color-overlay {
    z-index: 4;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    transition: background-color 150ms, opacity 250ms;
}
